.heading{
    width:100%;
    text-align:left;
}
.heading h3{
    display:inline;
}
.heading button{
    float:right;
    border:1px solid white;
}
#start,#status{
    font-size: 22px;
}
.big_img{
    width:100%
}
h4{
    background-color:whitesmoke ;
    line-height: 2;
    margin:0px;
}
.modal-dialog{
    width:90%;
}
.image{
    width:45%;
}
video{
    background-image: url('game_console.png');
    background-position: center;
    background-size: cover;
    padding:25px;
}